div.header { width: 100%;
  border: 1px grey solid;
  height: 100px;
  background-color: lightblue;
  /*background-image: url('images/Harderthanlearning.jpg') */
}

h1 {
  text-align: center;
}

h1, h2 {
  color: darkslategrey;
}

h6 {
  color: black;
  font-style: normal;
  text-transform: capitalize;
  margin-bottom: .5em;
  margin-top: 1em;
}

p {
  font-size: .4em;
  color: blue;
}

span {
  font-size: .4em;
  color: white;
}

.calendar {
  float: right;
  background-color: slategrey;
  text-transform:uppercase;
  margin:.5em;
  padding:.3em;
  position: relative;
  bottom: 3em;



}

.individualBlog {
  border: 1px black double;
  padding: .5em;
}

.nav li {
  /*text-decoration: none;*/
  padding-left: .4em;
  display: inline-block;
  font-size: .5em;
  list-style-type: none;
}

.sidebar {
  background-color: beige;
  border: 1px grey dashed;
  height: 100%;
  width: ;
}
