html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  /*background-color: khaki;*/
}

/*.courseInfo {
  background-color: khaki;
  border: 1px solid brown;
  width: 100vw;
}

.studentBehaviorOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
  border: 1px solid red;
  }*/

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

button {
width: 10%;
}
/*
footer {
  text-align: center;
  background-color: beige;
  border: 1px black solid;
  max-height: 3%;
}*/

img {
  max-width: 5%;
  height: auto;
  margin-bottom: 5%;
  border: 1px solid brown;
}

h1 {
  margin: 0;
  padding: 0;
}
